// 变量 $+变量名
// $w:400px;
// $h:200px;
// $c:red;
// $len:50%*10; // 500%
// /* 标题样式 */
// h1{
//   width: $w;
//   height: $h;
//   color: $c;
//   background-color: #ccc;
// }

// sass中的注释有两种
// 1. // sass有的注释，不会被编译到css文件中
// /* xxx */ 会被编译到css文件中

// 嵌套语法
// .box{
//   width: $w;
//   background-color: lightblue;
//   h2{
//     font-size: 30px;
//     color: blue;
//   }
//   .show{
//     width: 300px;
//     height: 100px;
//     span{
//       color: red;
//     }
//     p{
//       color: yellow;
//     }
//   }
// }

// & 指向父选择器
// a{
//   color: blue;
//   &:hover{
//     color: red;
//   }
// }
// .content{
//   width: 500px;
//   &-title{
//     color: red;
//   }
//   &-main{
//     color: blue;
//   }
// }

// // @import 引入外部样式
// @import 'header.scss';

// // @mixin 混合器
// @mixin nostyle {
//   list-style: none;
//   li{
//     padding: 0;
//     color: blue;
//   }
// }
// .list{
//   width: 500px;
//   @include nostyle;
// }

// // 混合器传参
// @mixin common($w,$h,$c) {
//   width: $w;
//   height: $h;
//   color: $c;
// }
// .box1{
//   background-color: #ccc;
//   @include common(500px,200px,red);
// }
// .box2{
//   padding: 10px;
//   @include common(300px,100px,blue);
// }

// // 继承
// .box3{
//   padding: 20px;
//   margin: 10px;
//   font-size: 20px;
// }
// .box4{
//   width: 500px;
//   background: pink;
//   @extend .box3;
// }
.wy_banner{
  height: 420px;
  margin: auto;
  border: 2px solid #eeeeee;
  overflow: hidden;
  // position: absolute;
  img{
    width: 100%;
    height: 100%;
  }
}
.wy_new{
  width: 1090px;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  h2{
    display: inline-block;
    font-size: 28px;
    padding-right: 20px;
    color: #333;
  }
  span{
    font-size: 14px;
    color: #333;
  }
  a{
    font-size: 14px;
    margin-left: 770px;
    cursor: pointer;
    color: #333
  }
  .new_g{
    width: 1100px;
    margin-top: 20px;
    .good{
      // display: flex;
      float: left;
      width: 265px;
      height: 381px;
      margin-left: 10px;
      &:hover {
      box-shadow: 1px 1px 8px rgba(0,0,0,.2);
      background-color: #f4f0ea;
      }
      div{
      background-color: #eee;
      img{
       width: 265px;
       cursor: pointer;
      }
    }
      p{
        text-align: center;
        color: #333;
        width: px;
        font-size: 14px;
        margin-top: 30px;
        width: 160px;
        padding-left: 45px;
      }
      span{
        display: inline-block;
        color: #D4282D;
        width: 265px;
        text-align: center;
        margin-top: 10px;
        i{
          color: #ccc;
          margin-left: 5px;
          text-decoration:line-through;
        }
      }
    }
     
    }
  }
.wy_hot{
  width: 108px;
  height: 392px;
  border: 1px solid #ccc;
  position: absolute;
  top: 630px;
  left: 20px;
  ul{
    width: 100px;
    .hot{
      color:#BB3343 ;
      font-size: 16px;
      line-height: 36px;
      height: 36px;
      text-align: center;
      border-top:none;
    }
    li{
      width: 86px;
      height: 38px;
      // margin: 0 10px;
      border-top: 1px solid #ccc;
      margin: 0 10px;
      cursor: pointer;
      &:hover span{
        color: #BB3343;
      }
      img{
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
      }
      span{
       display:inline-block;
       width: 45px;
       line-height:14px ;
       font-size: 12px;
      //  color:#BB3343 ;
       color: #333;
       text-align: left;
       margin-left: 10px;
       margin-top: 5px;
      }
    }
  }
}
.wy_fix{
  width: 72px;
  // border: 1px solid #333;
  position: absolute;
  top: 630px;
  right: 0;
  .img_box{
    width: 72px;
    height: 140px;
    
    img{
      width: 100%;
      height: 70px;
    }
    i{
      display: inline-block;
      width: 70px;
      font-size: 12px;
      color: #666;
      text-align: center;
      line-height: 20px;
    }
    p{
      width: 60px;
      margin: auto;
      font-size: 14px;
      color:#Bc3B3B;
      text-align: center;
      line-height: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      // padding-left: 5px;
    }
  }
  .wifi{
    width: 72px;
    // height: 72px;
    border-bottom: #ccc;
    img{
      width: 26px;
      height: 26px;
      margin-top: 10px;
      margin-left: 20px;
    }
    p{
      color: #666;
      font-size: 14px;
      text-align: center;
      margin-top: 5px;
    }
    margin-bottom: 10px;
  }
  .kf{
    width: 60px;
    margin: auto;
    // height: 72px;
    border-bottom: #ccc;
    border-top: 1px solid #ccc ;
    img{
      width: 26px;
      height: 26px;
      margin-top: 10px;
      margin-left: 20px;
    }
    p{
      color: #666;
      font-size: 14px;
      text-align: center;
      padding-bottom: 10px;
      margin-top: 5px;
      border-bottom: 1px solid #ccc;
      
    }
    
  }
  .back_top{
    width: 72px;
    // height: 72px;
    border-bottom: #ccc;
    img{
      width: 26px;
      height: 26px;
      margin-top: 10px;
      margin-left: 20px;
    }
    p{
      color: #666;
      font-size: 14px;
      text-align: center;
      margin-top: 5px;
    }
  }
}

.m-indexPopularItem{
  padding: 60px 0;
  background: #f4f0ea;
  .g-row{
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .m-commonHeader{
    padding-bottom: 20px;
    .f-left{
      float: left;
      width: 395px;
      height: 28px;
      a{
        .name{
          font-size: 28px;
          font-weight: 700;
          line-height: 1;
          float: left;
          margin-right: 20px;
        }
      }
      .tabList{
        overflow: hidden;
        padding-left: 13px;
        float: left;
        .innerWrap{
        overflow: hidden;
        position: relative;
        display: block;
        ul{
          .item{
          text-align: center;
          float: left;
          font-size: 14px;
          width: 70px;
          height: 28px;
          line-height: 28px;
          margin-right: 55px;
          position: relative;
          z-index: 2;
          float: left;
          cursor: pointer;
          border-bottom:2px solid #B4A078 ;
          &:hover{
            color: #B4A078;
          }
          a{
            display: inline-block;
            color: #333;
            
            

            &:hover{
              color: #B4A078;
            }
          }
          }
        }
        }
      }
    }
    .f-right{
      float: right;
      .moreItems{
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    font-size: 14px;
    &:hover{
      color: #B4A078;
    }
      }
    }
    }
    .showContainer{
      width: 1090px;
      margin: auto;
      // background: pink;
      margin-top: 20px;
      ul{
        overflow: hidden;
        li{
          float: left;
          width: 213px;
          height: 280px;
          background: #fff;
          margin-left:10px;
          margin-top: 10px;
          &:hover img{
            transform: scale(1.1,1.1);
            transition: all 1.5s;
          }
          
          .up{
            width: 222px;
            height: 180px;
            // background: lightblue;
            border-bottom: 1px solid #ccc;
            a{
              display:inline-block;
              width: 140px;
              height: 180px;
              margin: 0 20px;
              
              .img{
                width: 100%;
                height: 100%;
              }
            }
            
          }
          .bottom{
          width: 223px;
          height: 93px;
          margin-top: 10px;
          // background: pink;
          p{
            height: 20px;
            line-height: 20px;
            width: 60px;
            font-size: 12px;
            background:#e36844;
            text-align: center;
            margin: auto;
            color: #fff;
            // margin-top: 5px;
          }
          h4{
            line-height: 20px;
            max-height: 40px;
            font-size: 12px;
            width: 136px;
            margin:auto;
            text-align:center;
            margin-top: 5px;
          }
          .price{
            display: inline-block;
            color: #e36844;
            text-align: center;
            width: 223px;
            margin-top: 5px;
            span{
              color: #888;
              text-decoration:line-through ;
            }

          }
          }
        }
        .first{
          float: left;
          width: 390px;
          height: 570px;
          background: #fff;
          margin-top: 10px;
          .up{
            width: 390px;
            height: 400px;
            border-bottom: 1px solid #ccc;
            a{
              display:inline-block;
              width: 230px;
              height: 320px;
              margin: 0 10px;
              
              .img{
                width: 100%;
                height: 100%;
                margin:auto;
              }
            }
            
          }
          .bottom{
          width: 390px;
          height: 124px;
          margin-top: 10px;
          // background: pink;
          p{
            height: 20px;
            line-height: 20px;
            width: 58px;
            font-size: 12px;
            background:#e36844;
            text-align: center;
            margin: auto;
            color: #fff;
          }
          h4{
            line-height: 26px;
            max-height: 58px;
            font-size: 18px;
            width: 248px;
            margin:auto;
            text-align:center;
            margin-top: 20px;
          }
          .price{
            display: inline-block;
            color: #e36844;
            text-align: center;
            width: 390px;
            margin-top: 10px;
            font-size: 18px;
            span{
              color: #888;
              text-decoration:line-through ;
            }

          }
          }
        }
      }
    
        }
      }
}
       


.g_grow{
  padding-top: 60px;
  width: 1090px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  .f-left{
    float: left;
    a{
      color: #333;
      font-size: 28px;
      h3{
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        
      }
    }
  }
  .f-right{
    float: right;
    a{
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    font-size: 14px;
    }
  }
  .bd{
    height: 429px;
    width: 100%;
    overflow: hidden;
    .flashSalelt{
    position: relative;
    height: 429px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    background: url(../img/bg_date.png);
    .screenHd{
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 11px;
    color: #615548;
    }
    .line{
    width: 20px;
    height: 2px;
    margin: 0 auto 18px;
    background: #61594b;
    }
    .screenEndTips{
    margin-bottom: 18px;
    font-size: 18px;
    color: #615548;
    line-height: 22px;
    height: 22px;
    }
    }
    .m-countDown{
    // position: relative;
    height: 40px;
    margin-bottom: 50px;
    text-align: center;
    .j-hour{
    display: inline-block;
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    border-radius: 2px;
    }
    .colon{
    font-weight: 700;
    padding: 0 2px;
    }
    .j-minute{
    display: inline-block;
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    }
    .j-second{
    display: inline-block;
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    }
    }
    .seeMoreBtn{
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;
    cursor: pointer;
    border-radius: 15px;
    }
  }
  
}
.flashSaleRt{
  margin-left: 224px;
  height: 432px;
  .m-flashSaleProduct{ 
    float: left;
    width: 432px;
    height: 214px;
    border: 1px solid #f0ece4;
    border-left: none;
    background-color: #fff;
    // background-color: #BB3343;
    .lt{
    float: left;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 0;
    .picIc{
      position: relative;
       display: block;
       &:hover img{
        transform: scale(1.1,1.1);
        transition: all 1.5s;
      }
       div{
         .pic{
          width: 180px;
          height: 180px;
          border: 1px solid transparent;
          transition: transform 1s;
          display: block;
           margin: 0 auto;
         }
       }

    }
    }
    }
    .rt{
    // float:left;
    margin-left:180px;
    height: 187px;
    padding-top: 14px;
    .itemName{
      display: -webkit-box;
      overflow: hidden;
      max-height: 52px;
      line-height: 26px;
      font-size: 16px;
      font-weight: 400;
      color: #666;
     }
    .itemDes{
      height: 24px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #999;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .itemNum{
      padding: 14px 0 8px;
      height: 36px;
      .numBar{
        float: left;
        position: relative;
        width: 152px;
        height: 10px;
        margin: 2px 0;
        border: 1px solid #f2cecd;
      }
      .numTips{
        height: 14px;
        margin-left: 162px;
        font-size: 14px;
        color: #999;
        line-height: 14px;
      }
    }
    .itemPrice{
      margin-top: -20px;
      font-size: 14px;
      line-height: 1;
      vertical-align: baseline;
      .aPrice{
        color: #be4141;
        .yuan{
        color: #be4141;
        font-size: 18px;
        }
        
        .aPriceIn{
        color: #be4141;
        font-size: 24px;
        }
      }
      .oPrice{
        font-size: 14px;
        line-height: 1;
        vertical-align: baseline;
        .oPriceIn{
          color: #999;
          span{
            text-decoration: line-through;
          }
        }
       }
      }
    }
    .w-btn{
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
  }
  .tobuyBtn{
  background-color: #be4141;
  color: #fff;
}
    }
  






